:root {
  --cyan: #00a1f1;
  --cyan-dark: #0091d9;
  --magenta: #e42469;
  --magenta-dark: #cf2160;
  --green: #74c241;
  --yellow: #ff9500;
  --grey: #d0d1d2;
  --grey-dark: #2c3f52;
  --grey-light: #f4f5f6;
  --white: #fff;

  --main-font: Arial, Helvetica, sans-serif;
  --motto-font: Proxima Nova, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  min-height: 100vh;
  background: -webkit-linear-gradient(-72deg, #00b0f3 27%, #008cec 50%) #00a1f1;
}

.overlay-start-form-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 100;
  color: var(--grey-dark);
  font-family: var(--motto-font);
  font-size: 24px;
  font-weight: bold;
}

.overlay-start-form-container.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
  background: var(--white);
}

/* @keyframes overlay-grow {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(255, 255, 255, 0.9);
  }
} */

#overlay-start-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  background: var(--white);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  max-width: 400px;
}

.logo-login-page {
  height: 30px;
  margin-top: 50px;
}

.welcome-text {
  border-top: 10px solid var(--magenta);
  color: var(--grey-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--white);
  padding: 15px;
  line-height: 1;
}

.user-input {
  padding: 8px;
  font-family: var(--motto-font);
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  background: var(--white);
  border: transparent;
  margin-top: 20px;
  border: 1px solid var(--grey);
  text-align: center;
}

.user-input::placeholder {
  color: var(--grey);
}

.user-input:focus {
  border: 1px solid var(--cyan);
  outline: none;
}

.submit-btn {
  padding: 10px;
  font-family: var(--motto-font);
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  background: var(--cyan);
  color: var(--grey-light);
  border: transparent;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--cyan-dark);
}

.overlay-end-game-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  background: -webkit-linear-gradient(-72deg, #00b0f3 27%, #008cec 50%) #00a1f1;
  padding-top: 410px;
}

.overlay-end-game-text {
  font-family: var(--motto-font);
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  padding: 15px;
  line-height: 1;
  border-top: 10px solid var(--magenta);
}

.overlay-end-game-container.visible {
  display: flex;
  background-color: var(--white);
}

.game-container {
  width: 790px;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-header {
  width: 150px;
  height: 55px;
}

.page-title {
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--motto-font);
  color: var(--magenta);
}

.page-info {
  font-family: var(--main-font);
}

.game-info-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 20px;
  padding-bottom: 5px;
  color: var(--white);
  font-weight: bold;
}

.game-info {
  padding-top: 5px;
  border-top: 5px solid var(--magenta);
}

.game-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  perspective: 1000px;
}

.card {
  position: relative;
  background: var(--white);
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 100ms ease-in-out;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}
.card:hover {
  transform: scale(0.95);
}

.card.card-flip {
  transition: transform 500ms ease-in-out;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card-logo {
  height: 75px;
  width: 75px;
  transition: transform 250ms ease-in-out;
}

.card:hover .card-logo {
  transform: scale(1.8);
}

.card-back.card-logo-flip {
  display: none;
}

.card-job {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.home-link {
  margin-top: 20px;
  color: #0094df;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.41176471;
  font-weight: normal;
}

.home-link:hover {
  text-decoration: underline;
}
